%h2.title 
  FAQS
.container
  - if current_admin
    = link_to 'New Question', new_question_path, class:'button'
  - @questions.each do |question|
    .region-faqs
      .questiona
        %b
          = question.questions
      %br/
      .answer 
        = question.answer
        
      - if current_admin
        = link_to 'Edit', edit_question_path(question), class: 'button'
        = link_to 'Destroy', question, class: 'button', :method => :delete, :data => { :confirm => 'Are you sure?' }
        
  
