.fields 
  .field
    = f.label :content, I18n.t('itinerary.description')
    %br
    = f.text_area :content, :rows => 3 

  .field
    = f.label :hotel, I18n.t('itinerary.hotel')
    %br
    = f.text_field :hotel
  
    = remove_child_link "remove", f











    -#
      - f.fields_for :hotel_pictures do |a| 
        = render 'hotel_picture_fields', :f => a

      %div
        = add_child_link "Add Picture", f, :hotel_pictures



