%p
  %strong t('activerecord.attributes.itinerary.day')
  = @itinerary.day
%p
  %strong t('activerecord.attributes.itinerary.description')
  = @itinerary.description
%p
  %strong t('activerecord.attributes.itinerary.slug')
  = @itinerary.slug
%p
  %strong t('activerecord.attributes.itinerary.travel_id')
  = @itinerary.travel_id

== #{ link_to t('edit'), edit_itinerary_path(@itinerary) } | #{ link_to t('back'), itineraries_path }
