
.container
  %h1.page-title
    = I18n.t('healths.index')

  - if current_admin
    .admin.create
      = link_to I18n.t('health.new'), new_health_path(@health), :class => 'button new'

  .content
    - @healths.each do |health|
      .field-article
        .field-picture
          = image_tag health.health_picture(:front)
        .field-content
          %h2.title 
            = health.title
          %p 
            = health.description
        - if current_admin
          .admin.create
            = link_to I18n.t('edit'), edit_health_path(health), :class => 'button edit'
            = link_to I18n.t('destroy'), health, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button delete'
