- @itineraries.each do |itinerary|
  %h2.title Itinerary
  .admin.create
    = link_to I18n.t('edit'), edit_offer_season_travel_itinerary_path(@offer_season, @travel, itinerary), :class => 'button'

  - number = 1;
  %ol
  - itinerary.itinerary_contents.each do |itinerary_content|
    %li
      %span
        Día
        = number 
        - number += 1;
      = paragraph(itinerary_content.content)
      = itinerary_content.hotel
      = image_tag itinerary_content.itinerary_content_picture(:default)
