- @itineraries.each do |itinerary|
  %h2.title Itinerary
  .admin.create
    = link_to I18n.t('edit'), edit_offer_season_travel_itinerary_path(@offer_season, @travel, itinerary), :class => 'button'
    = link_to I18n.t('destroy'), offer_season_travel_itinerary_path(@offer_season, @travel, itinerary), :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button'

  - number = 1;
  %ol.itinerary-tabs
    - itinerary.itinerary_contents.each do |itinerary_content|
      %li.field-element
        -#
          - itinerary_content.hotel_pictures.each do |hotel_picture|
            = image_tag hotel_picture.hotel_photo(:default)
  
        - if itinerary_content.itinerary_content_picture.file?
          .field-picture
            = lightbox(itinerary_content.itinerary_content_picture(:default), itinerary_content.itinerary_content_picture(:lightbox))
            = #image_tag itinerary_content.itinerary_content_picture(:default)
            .field-item
            = itinerary_content.hotel
        .group-field-information
          %b
            Día
            = number 
            - number += 1;
          = paragraph(itinerary_content.content)



