%nav.navegate-by
  %h2.title
    = I18n.t('travels.index')
  %ul
    - @country_travels.each do |travel|
      %li
        = link_to_unless_current travel.name, country_travel_path(travel.country, travel) do
          %span
            = travel.name
        .controls
          .navigation
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_travel_path(travel), :class => 'button edit'
              = link_to I18n.t('destroy'), travel, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete
