
%h2.title.hide Información General
.h2-tab-title
  = @travel.name
.content
  = @travel.description
  = @travel.price
  = @travel.days
  = @travel.departures
  = @travel.maxgroupsize
  = @travel.travel_map
  = @travel.notes
  = @travel.weather



