
%h2.title.hide General Information
.h2-tab-title
  = @travel.name
.content.travel-tabs
  .field-description
    = paragraph(@travel.description)

  .group-field-information
    .field-picture
      - if @travel.travel_picture.file?
        = image_tag @travel.travel_picture(:thumb), :style => 'width: 130px'
    .field-information
      - if @travel.price.blank?
        .field-items
          Price
          .field-item
            = @travel.price
      - unless @travel.days.blank?
        .field-items
          Days
          .field-item
            = @travel.days

      - unless @travel.departures.blank?
        .field-items
          Departures
          .field-item
            = @travel.departures

      - if @travel.maxgroupsize?
        .field-items
          Max group size
          .field-item
            = @travel.maxgroupsize
    .field-information-extra
      .field-items
        General Information
      .field-items
        Itinerary
      .field-items
        Dates and Prices
      .field-items.last
        Last
  /*???????*/
  .field-advantages
    /*%h2.h2-tab-title Infinity Ventajas*/
    = paragraph(@travel.notes)
    = paragraph(@travel.weather)
    = paragraph(@travel.travel_map)

