- breadcrumb :edit_offer_season_travel, @travel

.region-texto

  %h1.page-title
    = t('travel.edit') + ' ' + @travel.name

  = form_for(@travel, :url => {:travel_id => params[:travel_id], :action => 'update'}) do |f|
    = render(:partial => 'form', :locals => {:f => f})
    .actions
      = link_to I18n.t('cancel'), offer_season_travel_path(@travel.offer_season, @travel), :class => 'btn cancel'
      = f.submit I18n.t('update')
