=# breadcrumb :offer_season, @offer_season

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = @travel.name 
    
  - if current_admin
    .admin.create
      = link_to I18n.t('travel.new'), new_offer_season_travel_path(@offer_season), :class => 'button new'
      = link_to I18n.t('edit'), edit_offer_season_travel_path(@offer_season), :class => 'button'
      = link_to I18n.t('destroy'), offer_season_travel_path(@offer_season), :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button heading'
  .content
     
