- content_for :css do
  = stylesheet_link_tag '/javascripts/libs/codaslider-3.0/css/coda-slider.css', '/javascripts/libs/lightbox/themes/classic/jquery.lightbox.css'

- content_for :javascript do
  = javascript_include_tag '/javascripts/libs/codaslider-3.0/js/jquery-ui-1.8.20.custom.min.js', '/javascripts/libs/codaslider-3.0/js/jquery.coda-slider-3.0.min.js', '/javascripts/libs/codaslider-3.0/coda-init.js', '/javascripts/libs/lightbox/jquery.lightbox.min.js'

:javascript
  $(document).ready(function() {
    jQuery('.lightbox').lightbox();
  });



// START MARKUP
.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = @country.name

  - if current_admin
    .admin.create
      = link_to I18n.t('travel.new'), new_offer_season_travel_path(@offer_season), :class => 'button new'
      = link_to I18n.t('edit'), edit_offer_season_travel_path(@offer_season), :class => 'button'
      = link_to I18n.t('destroy'), offer_season_travel_path(@offer_season), :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button heading'
      %div{:style => 'float:left; clear:left; margin-top:10px'}
        = link_to I18n.t('itinerary.new'), new_offer_season_travel_itinerary_path(@offer_season, @travel), :class => 'button'
        = link_to I18n.t('price.new'), new_offer_season_travel_price_path(@offer_season, @travel), :class => 'button'
        = link_to I18n.t('extension.new'), new_offer_season_travel_extension_path(@offer_season, @travel), :class => 'button'
        = link_to 'Hotel', new_offer_season_travel_hotel_path(@offer_season, @travel), :class => 'button'


  .content
    #slider-id.coda-slider
      %div
        = render 'travels_tab'
      - if !@itineraries.blank?
        %div
          = render 'itineraries_tab'
      - if !@prices.blank?
        %div
          = render 'prices_tab'
      - if !@extensions.blank?
        %div
          = render 'extensions_tab'
      %div
        = # render :partial => '/question_forms/form', :question_form => @question_form
        = #render :partial => 'question_forms/form', :locals => {:question_form => QuestionForm.new}
        = #render :partial => 'question_forms/form', :locals => {:question_form => @question_form}
        = #render :partial => 'question_forms/form', :object => {:question_form => @question_form }
        = #render :partial => 'question_forms/form', :question_form => @question_form
