- content_tag :css do
  = stylesheet_link_tag '/javascripts/libs/codaslider-3.0/css/coda-slider.css'

- content_tag :javascripts do
  = javascript_include_tag '/javascripts/libs/codaslider-3.0/js/jquery-ui-1.8.20.custom.min.js', '/javascripts/libs/codaslider-3.0/js/jquery.coda-slider-3.0.min.js', '/javascripts/libs/codaslider-3.0/coda-init.js'

= breadcrumb :offer_season_travel, @travel

// START MARKUP
#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = @travel.name 
    
  - if current_admin
    .admin.create
      = link_to I18n.t('travel.new'), new_offer_season_travel_path(@offer_season), :class => 'button new'
      = link_to I18n.t('edit'), edit_offer_season_travel_path(@offer_season), :class => 'button'
      = link_to I18n.t('destroy'), offer_season_travel_path(@offer_season), :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button heading'
      %div{:style => 'float:left; clear:left; margin-top:10px'}
        = link_to I18n.t('itinerary.new'), new_offer_season_travel_itinerary_path(@offer_season, @travel), :class => 'button'
        = link_to I18n.t('price.new'), new_offer_season_travel_price_path(@offer_season, @travel), :class => 'button'

  .content
    #slider-id.coda-slider
      %div
        = render 'itineraries_tab'
      %div
        = render 'prices_tab'



