- form_for(@milestone, :html => { :multipart => :true }) do |f|
  
  - if @milestone.errors.any?
    #errorExplanation
      %h2= t('activerecord.errors.messages.milestone.invalid_record')
      %ul
      - @milestone.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :milestone_picture
    %br
    = f.file_field :milestone_picture
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = f.label :telefono2
    %br
    = f.text_field :telefono2

  .actions
    = f.submit I18n.t('submit')
