
#content
  %h1.page-title
    = page_title! I18n.t('milestones.index')

  - if current_admin
    .admin.create
      = link_to I18n.t('milestone.new'), new_milestone_path, :class => 'button new'

  .content


    %p
      Far far away, behind the word mountains, far from the countries Vokalia and
      Consonantia, there live the blind texts. Separated they live in Bookmarksgrove 
      right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and
      
    %ul
      - @milestones.each do |milestone|
        %li
          = image_tag(milestone.milestone_picture(:regular))
          %h3 
            = milestone.title
          %p
            = milestone.description

          .controls
            .navigation
              = link_to I18n.t('show'), milestone, :class => 'button show'
            - if current_admin
              .admin
                = link_to I18n.t('edit'), edit_milestone_path(milestone), :class => 'button edit'
                = link_to I18n.t('destroy'), milestone, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete

