%p
  %strong t('activerecord.attributes.milestone.title')
  = @milestone.title

  = image_tag @milestone.milestone_picture(:medium)
%p
  %strong t('activerecord.attributes.milestone.description')
  = @milestone.description

== #{ link_to t('edit'), edit_milestone_path(@milestone) } | #{ link_to t('back'), milestones_path }
