= form_for(@slide, :html => { :multipart => :true }) do |f|

  - if @slide.errors.any?
    #errorExplanation
      %h2= I18n.t('activerecord.errors.messages.slide.invalid_record')
      %ul
      - @slide.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :slide, 'Picture'
    = f.file_field :slide
  .actions
    = f.submit I18n.t('submit')
