#sidebar-first
  = render 'sidebar_first'

.container

  %h1.page-title
    = I18n.t('partners.index')

    - if current_admin
      .admin.create
        = link_to I18n.t('partner.new'), new_partner_path(@partner), :class => 'button new'

  .content
    %ul
      - @partners.each do |partner|
        %li
          .field-image
            = link_to image_tag(partner.partner_picture(:thumb)), partner
          .field-title
            = link_to partner.title, partner


          - if current_admin
            .controls
              .navigation
                .admin
                  = link_to I18n.t('edit'), edit_partner_path(partner), :class => 'button edit'
                  = link_to I18n.t('destroy'), partner, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete



