#sidebar-first
  = render 'sidebar_first'

#content

  %h1.page-title
    = I18n.t('partners.index')

    - if current_admin
      .admin.create
        = link_to I18n.t('partner.new'), new_partner_path(@partner), :class => 'button new'

  .content
    %ul
      - @partners.each do |partner|
        %li
          .field-image
            = link_to image_tag(partner.partner_picture(:thumb)), partner
          .field-title
            = link_to partner.title, partner

        .controls
          .navigation
            = link_to I18n.t('show'), partner, :class => 'button show'
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_partner_path(partner), :class => 'button edit'
              = link_to I18n.t('destroy'), partner, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete



