= if @extension.errors.any?
  #errorExplanation
    %h2= t('activerecord.errors.messages.extension.invalid_record')
    %ul
    - @extension.errors.full_messages.each do |msg|
      %li= msg
.form-group
  = f.label :title
  = f.text_field :title, class:'form-control'

.form-group
  = f.label :description
  = f.text_area :description, class:'form-control'

.form-group
  = f.label :price_from
  = f.text_field :price_from, class:'form-control'

.form-group
  = f.label :days
  = f.text_field :days, class:'form-control'

.form-group
  = f.label :departures
  = f.text_field :departures, class:'form-control'

.form-group
  = f.label :party
  = f.text_field :party, class:'form-control'

.form-group
  = f.label :information
  = f.text_area :information, class:'form-control'

.form-group
  = f.label :itinerary_text
  = f.text_area :itinerary_text, class:'form-control'
