%h1 
  =t('extensions.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.extension.travel_id')
      %th{ :colspan => 3 }
  
  %tbody
    - for extension in @extensions
      %tr{ :class => cycle(:odd, :even) }
        %td= extension.travel_id
        %td= link_to t('show'), extension
        %td= link_to t('edit'), edit_extension_path(extension)
        %td= link_to t('destroy'), extension, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('extension.new'), new_extension_path
