%h1 
  =t('bookings.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.booking.title')
      %th 
        =t('activerecord.attributes.booking.email')
      %th 
        =t('activerecord.attributes.booking.comment')
      %th 
        =t('activerecord.attributes.booking.slug')
      %th{ :colspan => 3 }
  
  %tbody
    - for booking in @bookings
      %tr{ :class => cycle(:odd, :even) }
        %td= booking.title
        %td= booking.email
        %td= booking.comment
        %td= booking.slug
        %td= link_to t('show'), booking
        %td= link_to t('edit'), edit_booking_path(booking)
        %td= link_to t('destroy'), booking, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('booking.new'), new_booking_path
