
%nav.navegate-by
  %h2.title
    = I18n.t('offers.index')
  %ul
    - @fuera_de_temporada.each do |fuera|
      %li
        = #link_to_unless_current offer.name, offer_countries_path(offer) do
        = link_to_unless_current fuera.name, 'offer_season_travel_path(@offer_season, offer_season)' do
          %span
            = fuera.title
        .controls
          .navigation
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_travel_path(fuera), :class => 'button edit'
              = link_to I18n.t('destroy'), fuera, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete



%nav.navegate-by
  %h2.title
    = I18n.t('offer_seasons.index')
  %ul
    - @offer_seasons_sidebar.each do |offer_season|
      %li
        = link_to_unless_current offer_season.title, (offer_season) do
          %span
            = offer_season.title
        .controls
          .navigation
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_offer_season_path(offer_season), :class => 'button edit'
              = link_to I18n.t('destroy'), offer_season, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete


   


