- breadcrumb :edit_offer_season, @offer_season

#content

  %h1.page-title
    = I18n.t('offer_season.edit') + ' ' + @offer_season.title
    

  = form_for(@offer_season, :url => {:offer_season_id => params[:offer_season_id], :action => 'update'}) do |f|
    = render(:partial => 'form', :locals => {:f => f})
    .actions
      = link_to I18n.t('cancel'), offer_seasons_path, :class => 'btn cancel'
      = f.submit I18n.t('update')

