= breadcrumb :offer_seasons

.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = I18n.t('offer_seasons.index')

  - if current_admin
    .admin.create
      = link_to I18n.t('offer_season.new'), new_offer_season_path(@offer_season), :class => 'button new'

  .content
    - @offers.each do |offer|
      .field-article
        .field-picture
          = link_to image_tag(offer.travel_picture(:thumb)), offer_season_travel_path(offer.offer_season, offer)
        .field-content
          %h2.title          
            = link_to offer.name, offer_season_travel_path(offer.offer_season, offer)
          = paragraph_truncate(offer.description, 300) 
          = link_to I18n.t('moredetails'), offer_season_travel_path(offer.offer_season, offer), :class => 'button show'

    
