= breadcrumb :offer_season, @offer_season

#sidebar-first
  = render 'sidebar_first'


#content
  %h1.page-title
    = @offer_season.title + ' ' + I18n.t('offer_season.show')
    
  - if current_admin
    .admin.create
      = link_to I18n.t('offer.new'), new_offer_season_offer_path(@offer_season), :class => 'button new'
  .content
    - @offer_seasons_list.each do |offer|
      = link_to offer.title, offer_season_offer_path(@offer_season, offer)
      %br

    




