= breadcrumb :offer_season, @offer_season

#sidebar-first
  = render 'sidebar_first'


#content
  %h1.page-title
    = @offer_season.title + ' ' + I18n.t('offer_season.show')
    
  - if current_admin
    .admin.create
      = link_to I18n.t('offer.new'), new_offer_season_travel_path(@offer_season), :class => 'button new'
      = link_to I18n.t('edit'), edit_offer_season_path(@offer_season), :class => 'button'
      = link_to I18n.t('destroy'), offer_season_path(@offer_season), :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button heading'
  .content
    - @travel_list.each do |travel|
      .field-article
        .field-picture
          = link_to image_tag(travel.travel_picture(:thumb)), offer_season_travel_path(@offer_season, travel)
        .field-content
          %h2.title          
            = link_to travel.name, offer_season_travel_path(@offer_season, travel)
          = link_to paragraph_truncate(travel.description, 300) 
          = link_to I18n.t('moredetails'), offer_season_travel_path(travel.offer_season, travel), :class => 'button show'

    




