
%section.search-travel
  .content
    %form
      %h2.title Find the travel you need
      %select{:name => 'search-travel-destination'}
        %option 'Search by Travel Destination'
      %select{:name => 'search-travel-interest'}
        %option 'Search by Travel Interest (optional)'
      %select{:name => 'search-travel-month'}
        %option 'Search by Travel Month (optional)'
      %select{:name => 'search-travel-price'}
        %option 'Search by Price Range (optional)'
      %button Search

%section.contact-us
  %h2.title
    Contact Us
  .content
    .span.attention-number +51 956639128
    .span.attention-days  Mon-Fri 8am-7pm/Sat 9am-1pm

%section.ways-to-travel
  %h2.title
    Ways to travel
  %dl
    %dt Group
    %dd Far far away, behind the word mountains. far from the
    %dt Independent
    %dd Far far away, behind the word mountains. far from the
    %dt Alone
    %dd Far far away, behind the word mountains. far from the

%section.health
  %h2.title
    Health
  .content
    - if !@health_random.blank?
      = link_to image_tag(@health_random.health_picture(:front), class:'img-responsive'), @health_random.url
      = paragraph_truncate(@health_random.description, 100)
      = link_to @health_random.title, @health_random.url

%section.testimony
  %h2.title
    Testimony
  .content
    - @last_testimony.each do |last_testimony|
      %h3
        = last_testimony.name
      = paragraph_truncate(last_testimony.description, 30)
      = image_tag(last_testimony.testimony_picture(:landing_page), class:'img-responsive')
    = link_to I18n.t('testimonies.all'), testimonies_path, :class => 'link'
