= #stylesheet_link_tag "/javascripts/libs/royal-slider-9.2/royalslider.css", "/javascripts/libs/royal-slider-9.2/rs-default.css"
= # javascript_include_tag "/javascripts/libs/royal-slider-9.2/jquery.royalslider.custom.min.js", "/javascripts/libs/royal-slider-9.2/jquery.easing-1.3.js"


.region-central
  <!-- content -->
  %section.infinity-description
    - @about_infinity.each do |about_infinity|
      %h2.title
        = about_infinity.title_landing_page
      .content
        = paragraph(about_infinity.text_landing_page)
        - if
          = image_tag(about_infinity.picture_landing_page(:landing_page), class:'img-responsive')
      - if current_admin
        = link_to I18n.t('edit'), edit_about_path(about_infinity), :class => 'btn button'

  %section.noticia
    - @last_post.each do |last_post|
      %h2.title
        = last_post.title
      = # link_to image_tag(last_post.posts_picture(:landing_page)), post_path(last_post)
      .content
        = last_post.content
      = link_to 'Read More', post_path(last_post), :class => 'button'

  %section.promotion-package
    = image_tag '/assets/img-front-promotion.jpg', class: 'img-responsive'
    %h2.title
      Promotion Package
    .content
      %p
        Special Offers  25 % off - Summer 2015  (January - March)
      %p
        %b Enchanted Cusco 6days / 5 night
      %p
        Excite your senses with a magnificent short trip to Cusco allow us to show the best of the city, the secrets of the Sacred valley and take you to the world famous Machu Picchu.
      = link_to 'Read More', '#', :class => 'button'

  .video
    = render 'video'


.region-side
  /*#sidebar-first*/
  = render 'sidebar_first'
