- content_for :javascript do
  = stylesheet_link_tag "/javascripts/libs/royal-slider-9.2/royalslider.css", "/javascripts/libs/royal-slider-9.2/rs-default.css"
  = javascript_include_tag "/javascripts/libs/royal-slider-9.2/jquery.royalslider.custom.min.js", "/javascripts/libs/royal-slider-9.2/jquery.easing-1.3.js"



  

#sidebar-first
  = render 'sidebar_first'

#content
  %section.infinity-description
    %h2.title
      Luxury travel with Infinity Perú
    .content
      %p
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      = image_tag '/images/img-front-main.jpg'
  
  %section.noticia
    %h2.title
      Latest News Title
    .content
      %p
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      = link_to 'Read More', '#', :class => 'button'
  
  %section.promotion-package
    = image_tag '/images/img-front-promotion.jpg'
    %h2.title
      Promotion Package
    .content
      %p
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      = link_to 'Read More', '#', :class => 'button'
  
  .video
    = image_tag '/images/video-size.jpg'
  
