%h1 Listing interests

%table
  %tr
    %th Name
    %th Destination
    %th
    %th
    %th

  - @interests.each do |interest|
    %tr
      %td= interest.name
      %td= interest.destination
      %td= link_to 'Show', interest
      %td= link_to 'Edit', edit_interest_path(interest)
      %td= link_to 'Destroy', interest, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Interest', new_interest_path
