
.region-navbar
  = render 'users/sidebar_first'

.region-texto
  %h1.page-title
    = page_title! I18n.t('testimonies.index')

  - if current_admin
    .admin.create
      = link_to I18n.t('testimony.new'), new_testimony_path, :class => 'button new'


  .content
    - for testimony in @testimonies
      %div{:class => 'block ' +  cycle('odd', 'even')}
        .field-image
          = image_tag(testimony.testimony_picture(:default))
        %h2.title
          = testimony.name
        = paragraph(testimony.description)
        .controls
          .navigation
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_testimony_path(testimony), :class => 'button edit'
              = link_to I18n.t('destroy'), testimony, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete




