%h1 
  =t('destination_pictures.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.destination_picture.destination_picture_file_name')
      %th 
        =t('activerecord.attributes.destination_picture.destination_picture_content_type')
      %th 
        =t('activerecord.attributes.destination_picture.destination_picture_file_size')
      %th 
        =t('activerecord.attributes.destination_picture.destination_picture_updated_at')
      %th 
        =t('activerecord.attributes.destination_picture.destination_id')
      %th{ :colspan => 3 }
  
  %tbody
    - for destination_picture in @destination_pictures
      %tr{ :class => cycle(:odd, :even) }
        %td= destination_picture.destination_picture_file_name
        %td= destination_picture.destination_picture_content_type
        %td= destination_picture.destination_picture_file_size
        %td= destination_picture.destination_picture_updated_at
        %td= destination_picture.destination_id
        %td= link_to t('show'), destination_picture
        %td= link_to t('edit'), edit_destination_picture_path(destination_picture)
        %td= link_to t('destroy'), destination_picture, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('destination_picture.new'), new_destination_picture_path
