= breadcrumb :packs, @pack


#content
  %h1.page-title
    = pack.title
  - if current_admin
    .admin.create
      = link_to I18n.t('pack.new'), new_pack_path, :class => 'button new'
      = link_to I18n.t('edit'), edit_pack_path(@pack), :class => 'button'
      = link_to I18n.t('destroy'), @pack, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button heading'

  .content
    = paragraph(pack.description)




