= breadcrumb :packs

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = page_title! I18n.t('packs.index')


  .content
    - for pack in @first_pack
      %div{:class => 'block ' +  cycle('odd', 'even')}
        .field-image
          = image_tag(pack.pack_picture(:default))
        %h2.title
          = pack.title
        = paragraph(pack.description)
        .controls
          .navigation
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_pack_path(pack), :class => 'button edit'
              = link_to I18n.t('destroy'), pack, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete



