%h1 
  =t('packs.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.pack.title')
      %th 
        =t('activerecord.attributes.pack.description')
      %th 
        =t('activerecord.attributes.pack.slug')
      %th{ :colspan => 3 }
  
  %tbody
    - for pack in @packs
      %tr{ :class => cycle(:odd, :even) }
        %td= pack.title
        %td= pack.description
        %td= pack.slug
        %td= link_to t('show'), pack
        %td= link_to t('edit'), edit_pack_path(pack)
        %td= link_to t('destroy'), pack, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('pack.new'), new_pack_path
