


%nav.navegate-by
  %h2.title
    Navegate by
  %ul
    %li
      = link_to_unless_current I18n.t('abouts.index'), abouts_path do
        %span
          = I18n.t('abouts.index')  
    %li
      = link_to I18n.t('about.history'), '#'
    %li
      = link_to I18n.t('about.prices'), '#'
    %li
      = link_to I18n.t('about.global'), '#'
    %li
      = link_to I18n.t('about.staff'), '#'
    %li
      = link_to I18n.t('about.work'), '#'
