


%nav.navegate-by
  %h2.title
    Navegate by
  %ul
    %li
      = link_to_unless_current I18n.t('abouts.index'), abouts_path do
        %span
          = I18n.t('abouts.index')  
    %li
      = link_to_unless_current I18n.t('about.history'), history_abouts_path do
        %span
          = I18n.t('about.history')  
    %li
      = link_to_unless_current I18n.t('about.awards'), awards_abouts_path do
        %span
          = I18n.t('about.awards')  
    %li
      = link_to_unless_current I18n.t('about.global'), global_proyection_abouts_path do
        %span
          = I18n.t('about.global')  
    %li
      = link_to_unless_current I18n.t('about.staff'), know_our_staff_abouts_path do
        %span
          = I18n.t('about.staff')  
    %li
      = link_to_unless_current I18n.t('about.work'), work_with_us_abouts_path do
        %span
          = I18n.t('about.work')  
