
= breadcrumb :about_history

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = I18n.t('about.history')

  - @about.each do |about|
    = paragraph(about.history) 
    - if current_admin
      = link_to I18n.t('edit'), edit_about_path(about)
