
= breadcrumb :about

.region-navbar
  = render 'sidebar_first'

.region-texto
  - about_infinity.each do |about|
    = image_tag(about.about_picture(:default), class: 'img-responsive') 
    %h1.page-title
      = I18n.t('abouts.title')
    = paragraph(about.about_us)
