- breadcrumb :about_awards

.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = I18n.t('about.milestones')
  - if current_admin
    .admin.create
      = link_to I18n.t('milestone.new'), new_milestone_path, :class => 'button new'

  .content
    - @milestones.each do |milestone|
      %div{:class => 'field-image ' + cycle('break', '', '', '')}
        = image_tag(milestone.milestone_picture(:thumb))
        %h2.title
          = milestone.title
        = paragraph(milestone.description)
        - if current_admin
          .admin.crud
            = link_to I18n.t('edit'), edit_milestone_path(milestone), :class => 'button edit'
            = link_to I18n.t('destroy'), milestone, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button delete'
