- breadcrumb :about_staff

.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = I18n.t('about.staff')
  - if current_admin
    .admin.create
      = link_to I18n.t('member.new'), new_member_path, :class => 'button new'

  .content
    .member-portraits
      - @members.each do |member|
        = image_tag(member.member_picture(:thumb)) 
    .member-details
      - @members.each do |member|
        .field-member
          = image_tag(member.member_picture(:default))
          %h2.title
            = member.name
          %h3
            = member.position
            = member.email 
          = paragraph(member.description)
          - if current_admin
            .admin.crud
              = link_to I18n.t('edit'), edit_member_path(member), :class => 'button edit'
              = link_to I18n.t('destroy'), member, :confirm => I18n.t('confirm_delete'), :method => :delete, :class => 'button delete'
   
