= breadcrumb :about_staff

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = I18n.t('about.staff')
  .content
    .member-portraits
      - @members.each do |member|
        = image_tag(member.member_picture(:thumb)) 
    .member-details
      - @members.each do |member|
        .field-member
          = image_tag(member.member_picture(:default))
          %h2.title
            = member.name
          %h3
            = member.position
            = member.email 
          = paragraph(member.description)
          
