.fields
  %div
    = f.label :room_class
    = f.text_field :room_class
    %br
    = f.label :travel_price
    = f.text_field :travel_price
    %br
    = f.label :suplement
    = f.text_field :suplement
    %br
    = f.label :availability
    = f.text_field :availability
    %br 

    = remove_child_link "remove", f

%br
%br
%br
%br

