%h1 
  =t('prices.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.price.class')
      %th 
        =t('activerecord.attributes.price.price')
      %th 
        =t('activerecord.attributes.price.single')
      %th 
        =t('activerecord.attributes.price.internal_air')
      %th 
        =t('activerecord.attributes.price.available')
      %th 
        =t('activerecord.attributes.price.start_date')
      %th 
        =t('activerecord.attributes.price.due_date')
      %th 
        =t('activerecord.attributes.price.party')
      %th 
        =t('activerecord.attributes.price.travel_id')
      %th{ :colspan => 3 }
  
  %tbody
    - for price in @prices
      %tr{ :class => cycle(:odd, :even) }
        %td= price.class
        %td= price.price
        %td= price.single
        %td= price.internal_air
        %td= price.available
        %td= price.start_date
        %td= price.due_date
        %td= price.party
        %td= price.travel_id
        %td= link_to t('show'), price
        %td= link_to t('edit'), edit_price_path(price)
        %td= link_to t('destroy'), price, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('price.new'), new_price_path



