
= breadcrumb :offers

.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = I18n.t('offers.index')
  - if current_admin
    .admin.create
      = #link_to I18n.t('offer.new'), new_offer_path, :class => 'button new'
      = link_to I18n.t('offer_season.new'), new_offer_season_path(@offer_season), :class => 'button new'

  .content
    %p
      Curabitur feugiat ornare tellus, eget ultrices libero consectetur non. Proin sed magna in metus consequat ullamcorper. 




