= breadcrumb :offer, @offer

#sidebar-first
  = render 'sidebar_first'


#content
  %h1.page-title
    = @offer.title 
    
  - if current_admin
    .admin.create
      = link_to I18n.t('offer.new'), new_offer_season_offer_path(@offer_season), :class => 'button new'
  .content
    = paragraph(@offer.description)


