= if @country.errors.any?
  #errorExplanation
    %h2= t('activerecord.errors.messages.country.invalid_record')
    %ul
    - @country.errors.full_messages.each do |msg|
      %li= msg
.form-group
  = f.label :name
  %br
  = f.text_field :name, class:'form-control'
.form-group
  = f.label :description
  %br
  = f.text_area :description, class:'form-control'
.form-group
  = f.label :time_zone, 'Time Zone'
  %br
  = f.text_field :time_zone, class:'form-control'
.form-group
  = f.label :weather, 'Weather Widget'
  %br
  = f.text_field :weather, class:'form-control'
.form-group
  %br
  = f.label :map
  = f.file_field :map
.form-group
  = f.label :voltage
  %br
  = f.text_field :voltage, class:'form-control'
.form-group
  = f.label :currency
  %br
  = f.text_field :currency, class:'form-control'

.form-group
  = f.label :image_map
  %br
  = f.text_area :image_map, class:'form-control'

