- if @country.errors.any?
  #errorExplanation
    %h2= t('activerecord.errors.messages.country.invalid_record')
    %ul
    - @country.errors.full_messages.each do |msg|
      %li= msg
.field
  = f.label :name
  %br
  = f.text_field :name
.field
  = f.label :description
  %br
  = f.text_area :description
.field
  = f.label :time_zone, 'Time Zone'
  %br
  = f.text_field :time_zone
.field
  = f.label :weather, 'Weather Widget'
  %br
  = f.text_field :weather
.field
  = f.label :map
  = f.file_field :map
.field
  = f.label :voltage
  %br
  = f.text_field :voltage
.field
  = f.label :currency
  %br
  = f.text_field :currency

.field
  = f.label :image_map
  %br
  = f.text_area :image_map

