
%nav.navegate-by
  %h2.title
    = @destination.name
  %ul
    - @countries.each do |country|
      %li
        = link_to_unless_current country.name, destination_country_path(country.destination, country) do
          %span
            = country.name
  
.country-flight-details.sidebar-block
  %h2.title
    = I18n.t('country.flights')
  %ul
    %li
      = @country.time_zone
    %li
      = @country.weather
    %li
      = @country.voltage
    %li
      = @country.currency


