
#content
  %h1.page-title
    = page_title! @destination.name 

%table
  %thead

  
  %tbody
    - for country in @countries
      %tr{ :class => cycle(:odd, :even) }
        %td= country.name
        %td= country.time_zone
        %td= country.weather
        %td= country.voltage
        %td= country.currency
        %td= country.description
        %td= country.image_map
        %td= country.destination_id

