

%nav.navegate-by
  %h2.title
    = I18n.t('posts.index') 
  %ul
    %li
      = link_to_unless_current I18n.t('posts.title'), news_and_events_posts_path do
        %span
          = I18n.t('posts.title')  
    %li
      = link_to_unless_current I18n.t('press_releases.index'), press_releases_posts_path do
        %span
          = I18n.t('press_releases.index')  


