= breadcrumb :posts_news_and_events

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = page_title! I18n.t('posts.title')

  - if current_admin
    .admin.create
      = link_to I18n.t('post.new'), new_post_path, :class => 'button create'

  .content
    - for post in @posts
      %div{ :class => 'block ' + cycle('odd', 'even') }
        %h2
          = post.title
        .content
          = post.content 

        .controls
          .navigation
            = link_to I18n.t('show'), post, :class => 'button show'
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_post_path(post), :class => 'button edit'
              = link_to I18n.t('destroy'), post, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete




