-# breadcrumb :posts_press_releases
- breadcrumb :posts
.region-navbar
  = render 'sidebar_first'

.region-texto
  %h1.page-title
    = page_title! @post.title

  -# if current_admin
    .admin.create
      = link_to I18n.t('press_release.new'), new_press_release_path, :class => 'button create'



.region-texto
  = image_tag(@post.posts_picture(:medium), class:'img-responsive')
  .content
    = paragraph(@post.content)
    .controls
      .navigation
        = link_to I18n.t('back'), posts_path, :class => 'button back'
        - if current_admin
          .admin
            = link_to I18n.t('edit'), edit_post_path(@post), :class => 'button edit'
            = link_to I18n.t('destroy'), @post, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete



