%h1 
  =t('posts_and_events.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.posts_and_event.title')
      %th 
        =t('activerecord.attributes.posts_and_event.description')
      %th{ :colspan => 3 }
  
  %tbody
    - for posts_and_event in @posts_and_events
      %tr{ :class => cycle(:odd, :even) }
        %td= posts_and_event.title
        %td= posts_and_event.description
        %td= link_to t('show'), posts_and_event
        %td= link_to t('edit'), edit_posts_and_event_path(posts_and_event)
        %td= link_to t('destroy'), posts_and_event, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('posts_and_event.new'), new_posts_and_event_path
