= form_for(@destination) do |f|

  - if @destination.errors.any?
    #errorExplanation
      %h2= t('activerecord.errors.messages.destination.invalid_record')
      %ul
      - @destination.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.label :name
    %br
    = f.text_field :name, class:'form-control'
  .form-group
    = f.label :description
    %br
    = f.text_area :description, class:'form-control'
  .form-group
    = f.label :image_map
    %br
    = f.text_area :image_map
  .form-group
    = f.label :interests
    %br
    = f.collection_select :interest_ids, Interest.order(:name), :id, :name, {}, {multiple:true}

  .actions
    = f.submit I18n.t('submit')
