

= breadcrumb :destination, @destination
= content_for :javascript do
  = javascript_include_tag '/javascripts/destination_slider.js'


#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = @destination.name + ' with Infinity'
  - if current_admin
    .admin.create
      = link_to I18n.t('destination_picture.new'), new_destination_destination_picture_path(@destination), :class => 'button new'

  .content
    .destination_pictures_container
      - @destination_pictures.each do |img|
        = image_tag(img.destination_picture(:default))
    = @destination.description  



