

= breadcrumb :destination, @destination

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = @destination.name + ' with Infinity'
  - if current_admin
    .admin.create
      = link_to I18n.t('destination_picture.new'), new_destination_destination_picture_path(@destination), :class => 'button new'

  .content
    = @destination.description  



