

= breadcrumb :destination, @destination
= content_for :javascript do
  = javascript_include_tag '/javascripts/destination_slider.js'


#sidebar-first
  = render 'sidebar_first'

#content
  .content
    - if @destination_pictures
      .destination_pictures_container.rsDefault
        - @destination_pictures.each do |img|
          .rsContent
            = image_tag(img.destination_picture(:default))
            .links
              = link_to I18n.t('fullsize'), img.destination_picture(:large), :class => 'button'
              - if current_admin
                = link_to I18n.t('destroy'), destination_destination_picture_path(@destination, img), :confirm => I18n.t('cofirm_delete'), :method => :delete, :class => 'button'
                = link_to I18n.t('edit'), edit_destination_destination_picture_path(@destination, img), :class => 'button'

  %h1.page-title
    = @destination.name + ' with Infinity'
  - if current_admin
    .admin.create
      = link_to I18n.t('destination_picture.new'), new_destination_destination_picture_path(@destination), :class => 'button new', :target => '_blank'
      = link_to I18n.t('country.new'), new_destination_country_path(@destination), :class => 'button heading'

  = paragraph(@destination.description)
