%h1 
  =t('hotels.index.title')

%table
  %thead
    %tr
      %th 
        =t('activerecord.attributes.hotel.name')
      %th{ :colspan => 3 }
  
  %tbody
    - for hotel in @hotels
      %tr{ :class => cycle(:odd, :even) }
        %td= hotel.name
        %td= link_to t('show'), hotel
        %td= link_to t('edit'), edit_hotel_path(hotel)
        %td= link_to t('destroy'), hotel, :confirm => I18n.t('confirm_delete'), :method => :delete

%br
= link_to t('hotel.new'), new_hotel_path
