.site-info
  .phone-list
    %span 511 434 2954
    %span 511 956 639128
  .email-list
    %span info@infinityperu.com

  - unless current_user
    .login-links
      = link_to 'Admin Login', new_admin_session_path
      = link_to I18n.t('signin'), new_user_session_path
      = link_to I18n.t('signup'), new_user_registration_path
  - else
    .login-links
      = link_to I18n.t('user.profile'), edit_user_registration_path(@user)
      = link_to I18n.t('signout'), destroy_user_session_path
