.site-info
  .phone-list
    %span 51 1 4322954
    %span Mon-Fri 8am-7pm
    %span Sat 9am-1pm
  .email-list
    %span info@infinityperu.com

  - unless current_user
    .login-links
      - if current_admin
        = link_to 'Log Out', destroy_admin_session_path, :method => :delete
      - else
        = link_to 'Admin Login', new_admin_session_path
      = link_to I18n.t('signin'), new_user_session_path
      = link_to I18n.t('signup'), new_user_registration_path
  - else
    .login-links
      = link_to I18n.t('user.profile'), edit_user_registration_path(@user)
      = link_to I18n.t('signout'), destroy_user_session_path, :method => :delete

  %b
    = render 'layouts/messages'
