/ requires lavalamp menu, check layouts/head

%nav
  %ul.menu
    %li
      = link_to_unless_current 'Inicio', root_path, :class => lavalamp('homes') do
        %span
          Inicio
    %li{:class => 'selectedLava'}
      = link_to_unless_current 'Destinations', slides_path  do
        %span
          Destinations
    %li
      = link_to_unless_current 'Offers', '#' do
        %span
          Offers
    %li
      = link_to_unless_current 'Travels', '#' do
        %span
          Travels
    %li
      = link_to_unless_current 'Bookings', '#' do
        %span
          Bookings
    %li
      = link_to_unless_current 'News', '#' do
        %span
          News
    %li
      = link_to_unless_current 'Health', '#' do
        %span
          Health
    %li.last
      = link_to_unless_current 'Staff', '#' do
        %span
          Staff
    %li.admin-link
      = link_to_unless_current 'Slides', slides_path do
        %span
          Slides
    %li.admin-link
      = link_to_unless_current 'Milestones', milestones_path do
        %span
          Milestones

    %li.footer-only
      = link_to_unless_current 'About Us', '#' do
        %span
          About Us
    %li.footer-only
      = link_to_unless_current 'Terms of Usage', '#' do
        %span
          Terms of Usage
