= javascript_include_tag '/javascripts/jquery-easing/jquery.easing.1.3.js', '/javascripts/libs/navigation/jquery-lavalamp-1.3.5/jquery.lavalamp-1.3.5.min.js', '/javascripts/libs/navigation/jquery-lavalamp-1.3.5/jquery.lavalamp-init.js'
:css
  ul.menu {
      overflow:hidden; /* hidden auto, makes sure the container fits the floated list-items below */
  }
  ul.menu li{
      position:relative; /* allows us to set the z-index */
      z-index:5; /* raises the z-index of the line item 5 levels all other elements */
      float:left; /* floats list items to the left, creating a horizontal menu */
  }
  ul.menu li.backLava {
     /* background-color:#fc0;
      border-bottom:5px solid brown;*/
  }

%nav
  %ul.menu
    %li
      = link_to_unless_current 'Home', '#', :class => 'selectedLava' do
        %span
          Home
    %li
      = link_to_unless_current 'Destinations', '#' do
        %span
          Destinations
    %li
      = link_to_unless_current 'Offers', '#' do
        %span
          Offers
    %li
      = link_to_unless_current 'Travels', '#' do
        %span
          Travels
    %li
      = link_to_unless_current 'Bookings', '#' do
        %span
          Bookings
    %li
      = link_to_unless_current 'News', '#' do
        %span
          News
    %li
      = link_to_unless_current 'Health', '#' do
        %span
          Health
    %li.last
      = link_to_unless_current 'Staff', '#' do
        %span
          Staff
    %li.admin-link
      = link_to_unless_current 'Slides', slides_path do
        %span
          Slides

    %li.footer-only
      = link_to_unless_current 'About Us', '#' do
        %span
          About Us
    %li.footer-only
      = link_to_unless_current 'Terms of Usage', '#' do
        %span
          Terms of Usage
