.navbar.navbar-defualt{role:'navigation'}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapase", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %nav
      %ul.menu.nav.navbar-nav.navbar-left
        / menu_li(page_name, controller_name, path)
        = menu_li(I18n.t('homes.index'), 'homes', root_path)
        = menu_li('Destinations', 'destinations', destinations_path)
        = menu_li(I18n.t('offers.index'), 'offers', offer_seasons_path)
        = menu_li(I18n.t('packs.index'), 'packs', packs_path)
        = menu_li('Bookings', 'bookings', new_booking_path(@booking))
        = menu_li(I18n.t('posts.index'), 'posts', posts_path )
        = menu_li(I18n.t('healths.index'), 'healths', healths_path )

        - if current_admin
          = menu_li('Slides', 'slides', slides_path)
          = menu_li('Testimonies', 'testimonies', testimonies_path)
          = menu_li('Members', 'members', members_path)
          = menu_li('Health', 'healths', healths_path)
          = menu_li('Partners','partners', partners_path)
          = menu_li_footer('Milestones', 'milestones', milestones_path)

        = menu_li('Members', 'members', members_path)
        = menu_li(I18n.t('abouts.index'), 'abouts', abouts_path)
