
%h2.title
  Infinity Perú is partner of:
.wrapper
  %ul.slider
    %li.rsContent
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-1.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-2.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-3.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-4.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-5.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-6.png', :class => 'rsImg'
    %li.rsContent
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-1.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-2.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-3.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-4.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-5.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-6.png', :class => 'rsImg'
    %li.rsContent
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-1.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-2.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-3.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-4.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-5.png', :class => 'rsImg'
      .partner
        .rsABlock
          = image_tag '/images/partners/img-brands-6.png', :class => 'rsImg'
  = render 'layouts/social_links'
