#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - if slides_in_all_pages
      - slides_in_all_pages.each_with_index do |slide, index|
        - if index == 0
          %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index}
        - else
          %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index}

  .carousel-inner
    - if slides_in_all_pages
      - slides_in_all_pages.each_with_index do |slide, index|
        - if index == 0
          .item.active
            = link_to image_tag(slide.slide(:full), :class => 'rsImg'), slide.link
            .carousel-caption
              %h3= slide.title
              %p= slide.description
        - else
          .item
            = link_to image_tag(slide.slide(:full), :class => 'rsImg'), slide.link
            .carousel-caption
              %h3= slide.title
              %p= slide.description

