-# content_for :scripts do
= render 'layouts/royal_slider'
= render 'layouts/royal_slider_init'

#preface-top
  .royalSlider.rsDefault
    .rsContent
      = image_tag "/images/slides/img-slide.jpg", :class => 'rsImg'
      = link_to 'Ver más', :class => 'button rsABlock'
    .rsContent
      = image_tag "/images/slides/img-slide-2.jpg", :class => 'rsImg'
      = link_to 'Ver más', :class => 'button rsABlock'
