!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %title= 'Mockup'
    == <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    = stylesheet_link_tag '/stylesheets/screen.css'
    = javascript_include_tag '/javascripts/jquery.js'
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
      %script{:src => '/javascripts/libs/ie-support/malsup-corner/jquery.corner.js'}
      %script{:src => '/javascripts/libs/ie-support/ie-scripts.js'}
    = yield :scripts

  %body{:id => bodyid, :class => bodyclass}
    - if notice
      %p.notice= notice
    .wrapper
      %header{:role => 'banner'}
        = link_to image_tag('/images/logo.png'), root_path
        = render 'layouts/banner'
        = render 'layouts/menu'
      %section.region{:role => 'main'}
        = render 'layouts/slider'
        = yield


  #postscript-bottom.partners
    = render 'layouts/partners'
  = render 'layouts/footer'
