!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Infinity Perú - Travel Agent'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Infinity'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = render 'layouts/head'
    = yield :javascript
    = csrf_meta_tags
  %body{:id => bodyid, :class => bodyclass}
    .container
      %header{:role => 'banner'}
        = link_to image_tag('/assets/logo.png'), root_path
        = render 'layouts/messages'
        = render 'layouts/banner'
        = render 'layouts/navigation'
      %section.region{:role => "main"}
        = render 'layouts/slider'
        = render 'layouts/breadcrumbs'
        %br
        = yield

  #postscript-bottom.partners
    = render 'layouts/partners'
  =# render 'layouts/footer'
  = render 'shared/google_analytics'
