.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :last_name
  = f.text_field :last_name
.field
  = f.label :email
  = f.email_field :email
.field
  = f.label :password
  = f.password_field :password
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation
.field
  = f.label :address1
  = f.text_field :address1
.field
  = f.label :address2
  = f.text_field :address2
.field
  = f.label :state
  = f.text_field :state
.field
  = f.label :city
  = f.text_field :city
.field
  = f.label :zipcode, "Zip Code"
  = f.text_field :zipcode
.field
  = f.label :country
  = country_select("user", "country" )

.field
  = f.label :phone
  = f.text_field :phone
.field.check-field
  = f.label :travel_agent, "Are you travel agent?"
  .field-items
    = f.radio_button :travel_agent, 'Yes'
    = f.label :travel_agent_yes, 'Yes'
    = f.radio_button :travel_agent, 'No', :checked => true
    = f.label :travel_agent_no, 'No'

.field
  = f.label :code
  = f.text_field :code
