= breadcrumb :user_sign_up

#sidebar-first
  = render 'users/sidebar_first'

#content
  %h1.page-title
    = page_title! I18n.t('user.sign_up')


  .content
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!

    
      = render(:partial => 'users/registrations/user_attributes', :locals => { :f => f })
    
      .actions
        = f.submit "Sign up"
    = render :partial => "devise/shared/links"
